.Weather {
  border: 1px solid #dadde1;
  text-align: start;
  margin-top: 50px;
  max-width: 600px;
  padding-bottom: 30px;
}
.Weather canvas {
  height: 64px;
  width: 64px;
  margin-right: 10px;
  margin-left: 30px;
  display: inline-block;
}
